<% layout("layouts/boilerplate") %>
<h1><%= campground.title %></h1>
<p>Location: <%= campground.location %></p>
<div>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
</div>
<div>
  <form
    action="/campgrounds/<%= campground._id %>?_method=DELETE"
    method="post"
  >
    <button type="submit">Delete Campground</button>
  </form>
</div>
<footer>
  <a href="/campgrounds">All Campgrounds</a>
</footer>
